*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:arial;
}

.tile{
    width: 8%;
    float: left;
    background-color: rgb(50,50,50);
    border:2px solid rgb(25,25,25);
    color: white;
    text-align: center;
    padding:10px;
    -webkit-box-shadow: inset 0px 0px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 22px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 22px 0px rgba(0,0,0,0.75);
    font-weight: bold;
}
.tile img:nth-child(2){
    border-radius: 50%;
    width:40px;
    display: block;
    margin:0 auto;
    margin-top:-20px;
    position: relative;
    z-index:1;
}

.tile img{
    border:2px solid black;
}