﻿@{
    ViewData["Title"] = "Person create";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<div class="flex-container show-room">
    <div class="flex-item-3">
        <div class="command-bar flex-container">
            <h2 class="flex-item-4 align-content-left">Person</h2>
            <button type="submit" form="CreatePersonForm">Create</button>
        </div>
        <div class="detail">
            <form method="post" action="" id="CreatePersonForm">
                <input type="hidden" name="_token">
                <div class="field-container">
                    <label for="FirstName">Voornaam</label>
                    <input type="text" name="FirstName" id="FirstName" />
                </div>
                <div class="field-container">
                    <label for="LastName">Familienaam</label>
                    <input type="text" name="LastName" id="LastName" />
                </div>
                <div class="field-container">
                    <label for="Email">E-mail</label>
                    <input type="email" name="Email" id="Email" />
                </div>
                <div class="field-container">
                    <label for="Password">Password</label>
                    <input type="password" name="Password" id="Password" />
                </div>
                <div class="field-container">
                    <label for="Adress1">Adres 1</label>
                    <input type="text" name="Adress1" id="Adress1" />
                </div>
                <div class="field-container">
                    <label for="Adress2">Adres 2</label>
                    <input type="text" name="Adress2" id="Adress2" />
                </div>
                <div class="field-container">
                    <label for="PostalCode">Postcode</label>
                    <input type="text" name="PostalCode" id="PostalCode" />
                </div>
                <div class="field-container">
                    <label for="City">Stad</label>
                    <input type="text" name="City" id="City" />
                </div>
                <div class="field-container">
                    <label for="CountryId">Land</label>
                    <select name="CountryId" id="CountryId">
                        @foreach (var country in ViewBag.Countries)
                        {
                        <option value="@country.Id">@country.Name</option>    
                        }
                    </select>
                </div>
                <div class="field-container">
                    <label for="Phone1">Telefoon</label>
                    <input type="text" name="Phone1" id="Phone1" />
                </div>
                <div class="field-container">
                    <label for="BirthDay">Geboortedatum</label>
                    <input type="date" name="BirthDay" id="BirthDay" />
                </div>
            </form>
        </div>
        <div class="feedback"></div>
    </div>
</div>
