﻿@{
    ViewData["Title"] = "Person index";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
    <div class="flex-container show-room">
        <div class="flex-item-3">
            <div class="command-bar flex-container">
                <h2 class="flex-item-4 align-content-left">Person</h2>
                <a class="flex-item-1 align-content-right" href="Create">Create new</a>
            </div>
            <div class="detail">
            </div>
            <div class="feedback"></div>
        </div>
        <div class="flex-item-1">
            <aside class="list">
            @Html.Partial("Person/_ReadAll", (IEnumerable<FricFrac.Models.FricFrac.Person>)ViewBag.People);
            </aside>
        </div>
    </div>


