﻿@model VosAPI.Models.Log
@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h2>Create</h2>

<h4>Log</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <input asp-for="Role" class="form-control" />
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProcedureCode" class="control-label"></label>
                <input asp-for="ProcedureCode" class="form-control" />
                <span asp-validation-for="ProcedureCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProcedureTitle" class="control-label"></label>
                <input asp-for="ProcedureTitle" class="form-control" />
                <span asp-validation-for="ProcedureTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StepTitle" class="control-label"></label>
                <input asp-for="StepTitle" class="form-control" />
                <span asp-validation-for="StepTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CallNumber" class="control-label"></label>
                <input asp-for="CallNumber" class="form-control" />
                <span asp-validation-for="CallNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SendNumber" class="control-label"></label>
                <input asp-for="SendNumber" class="form-control" />
                <span asp-validation-for="SendNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeStamp" class="control-label"></label>
                <input asp-for="TimeStamp" class="form-control" />
                <span asp-validation-for="TimeStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
