﻿@model VosAPI.Models.Log

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<h2>Details</h2>

<div>
    <h4>Log</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProcedureCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProcedureCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProcedureTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProcedureTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StepTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StepTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CallNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CallNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SendNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SendNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>
    </dl>
</div>
<div>
    <a href="../Editing/@Model.Id">Edit</a> |
    <a href="../Index">Home</a>
</div>
