﻿@model IEnumerable<VosAPI.Models.Log>
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";

}
<h2>Index</h2>
<p>
    <a href="Creating">Create</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcedureCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcedureTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StepTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CallNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SendNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeStamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProcedureCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProcedureTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StepTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CallNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SendNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeStamp)
                </td>
                <td>
                    <a href="Details/@item.Id">Details</a>
                    <a href="Editing/@item.Id">Edit</a>
                    <a href="Delete/@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
