@media (orientation: portrait) {
    .show-room {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

@media (orientation: landscape) {
    .show-room {
        flex-direction: row;
        flex-wrap: wrap;
    }
}
.show-room {
    display: flex;
}

.show-room.index > .tile [class^="icon-"] {
    font-size: 8em;
    color: rgb(240, 239, 228);
    background-color: transparent;
    text-shadow: 2px 2px black;
}

.show-room.index > .tile h1 {
    color: rgb(240, 239, 228);
}

.show-room.index > .tile:hover [class^="icon-"],
.show-room.index > .tile:hover h1 {
    color: rgb(226, 69, 16);
    cursor: pointer;
}

.show-room.index > .tile {
    height: 20em;
    width: 48%;
    margin: 0 1em 1em 1em;
    border-radius: 2em 0 2em 0;
}

/* GO! blauw */
.show-room.index > .tile:nth-child(3n + 1) {
    background: rgba(0, 179, 213, 0.9);
}

/* GO! groen */
.show-room.index > .tile:nth-child(3n + 2) {
    background: rgba(195, 0, 74, 0.9);
}

/* GO! magenta */
.show-room.index > .tile:nth-child(3n + 3) {
    background: rgba(169, 185, 5, 0.9);
}



/* GO! beige voor identity tile*/
.show-room.index .tile.identity {
    background: rgba(240, 239, 228, 0.9);
}