﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header>
       @ViewData["Title"]
    </header>
    <main>
            @RenderBody()
    </main>
    <footer>
        <a href="../Admin/Index">Beheer</a>
    </footer>
</body>
</html>
