﻿* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    height: 80px;
    background-color: rgb(200,200,200);
    margin: 15px;
}

.show-room {
    margin: 15px;
    background-color: rgb(200,200,200);
}
/*****************
*****admin/index**
******************/

.tile {
    height: 250px;
    margin: 15px;
    background-color: rgb(230,230,230);
}

/*****************
****person/index*
*****************/
.command-bar {
    height: 80px;
    background-color: rgb(230,230,230);
    margin: 15px;
    padding: 10px;
}

.detail {
    margin: 15px;
    background-color: rgb(230,230,230);
    padding: 10px;
}

.feedback {
    margin: 15px;
    background-color: rgb(230,230,230);
    height: 80px;
}

.list {
    margin: 15px;
    background-color: rgb(230,230,230);
    min-height: 70%;
}

/**************
*****flex-box**
**************/
.flex-container {
    display: flex;
}

.flex-item-1 {
    flex: 1;
}

.flex-item-2 {
    flex: 2;
}

.flex-item-3 {
    flex: 3;
}

.flex-item-4 {
    flex: 4;
}

.align-content-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.align-content-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.align-content-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
